div{
    /* text-decoration: double 3px overline; */
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: blueviolet;
    text-decoration-thickness: 2px;
    text-indent: 24px ;
    letter-spacing: 3px;
    line-height: 25px;
    word-spacing: 10px;
    white-space: nowrap;
    /* overflow: scroll; */
    text-shadow: 3px 3px 2px red;
}
i{
    /* vertical-align: baseline; */
    vertical-align: bottom;
    /* vertical-align: middle; */
    /* vertical-align: sub; */
    /* vertical-align: super; */
    /* vertical-align: text-bottom; */
    /* vertical-align: text-top; */
}