/* img{
    height: 500px;
    width: fit-content;
    /* border: 10px double ; */
    /* padding:3px; */
    /* } */
div{
    background-image: url(../Image/image-1.jpg);
    box-shadow: inset 3px 3px 10px 5px #fff;
    
    
    height: 500px;
    width: 500px;
    background-size: 500px 500px;
    margin:0 ;

}

    