*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 90px;
    width: 100%;
    display: grid;
    grid-template-rows: 90px;
    grid-template-columns: 150px 500px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color:cadetblue ;
    position: sticky;
}
header .logo img{
    height: 90px;
    width: 150px;
}
header .menu li{
    display: inline;
    margin-right: 30px ;
}
header .menu li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav{
    height: 90px;
    width: 100%;
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
nav h4{
    font-size: larger;
    color: #fff;
}
nav h3{
    font-size: 40px;
    color: #fff;
}
main img{
    height: 500px;
    width: 100%;
}
footer{
    height: 70px;
    text-align: center;
    line-height: 4;
    background-color: cornflowerblue;
}