h3{
    background-color: cadetblue;
    color: #fff;
    display: inline-block;
    font-size: x-large;
    padding: 3px;
    border-radius: 15px;
}
hr{
    border-top: #000 solid;
}

h4{
    text-decoration: underline;
    font-size: larger;
}

b{
    font-size: large;
}
.position {
    height: 350px;
    width: 550px;
    border: solid #666;
    border-radius: 10px;
    background-image: url(../Image/Question8.jpg);
    background-repeat: no-repeat;
    margin: 3px;
    background-color: cadetblue;
}

.left {
    background-position: left;
}

.right {
    background-position: right;
}

.center {
    background-position: center;
}

.left-top {
    background-position: left top;
}

.left-bottom {
    background-position: left bottom;
}

.right-top {
    background-position: right top;
}

.right-bottom {
    background-position: right bottom;
}

.center-top {
    background-position: center top;
}

.center-bottom {
    background-position: center bottom;

}