body{

    background-color: aqua;
    background-color: black;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
}
.aa{
    float: left;
    margin-left: 320px;
}
.bb{
    float: right;
    margin-right: 320px;
}
textarea{
    display: inline;
    margin-left: 450px;
}
.cc {
    /* margin-top: 800px; */
    /* margin:auto; */
    margin-left: 320px;
}
.dd{
    float: left;
    margin-left: 320px;
}
.ee{
    float: right;
    margin-right: 320px;
}
.ff{
    margin-top: 100px;
    margin-left:320px;

}
.a{
    border: 1px solid #666;
    padding:5px 160px 5px 5px;
    border-radius: 5px;
    background-color: darkgray;
}
.e{
    border: 1px solid #666;
    padding: 5px;
    border-radius: 5px;
    background-color: darkgray;
}
.b{
    border: 1px solid #666;
    padding: 5px 150px 5px 5px;
    border-radius: 5px;
    background-color: darkgray;
}
.c{
    border: 1px solid #666;
    padding: 5px 115px 5px 5px;
    border-radius: 5px;
    background-color: darkgray;
}
.d{
    border: 1px solid #666;
    padding: 5px 120px 5px 5px ;
    border-radius: 5px;
    background-color: darkgray;
}