h3 {
    background-color: cadetblue;
    color: #fff;
    display: inline-block;
    font-size: x-large;
    padding: 3px;
    border-radius: 15px;
}
hr {
    border-top: #000 solid;
}

h4 {
    text-decoration: underline;
    font-size: larger;
}

b {
    font-size: large;
}
.Q5 {
    background-color: cadetblue;
    width: 100px;
    color: #fff;
    margin: 0px 300px;
}

.txt1 {
    opacity: 1;
    height: 100px;
    border: solid black;
}

.txt2 {
    opacity: 0.5;
    height: 100px;
    border: solid black;

}

.txt3 {
    opacity: 0;
    height: 100px;
    border: solid black;

}
