.bar {
    display: none;
}

.menu li {
    display: inline;
    margin: 55px;
}

.font li {
    display: none;
    /* margin: 55px; */

}

.cart {
    position: relative;
    display: flex;
    /* flex-direction: ; */

}

.text1 {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.text2 {
    position: absolute;
    top: 210px;
    left: 40px;
    font-size: large;
    color: #fff;
}

.cart11 {
    position: absolute;
    position: relative;
    display: block;
    /* flex-direction:column; */
    top: 20px;
    left: 20px;
    float: left;
    clear: both;
    height: 400px;
    width: 570px;
    /* border: 2px solid; */

}

.cart1 {
    position: absolute;
    left: 0px;
    height: 400px;
    width: 260px;
    background-color: black;
}

.cart2 {
    position: absolute;
    left: 310px;
    height: 400px;
    width: 260px;
    background-color: black;



}

img {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 160px;
    width: 190px;
}

.cart22 {
    position: relative;
    position: absolute;
    /* display: block; */
    /* flex-direction: row; */
    top: 20px;
    left: 650px;
    height: 400px;
    width: 560px;
    /* clear: both; */
    /* background-color: aqua; */
    /* border: 2px solid; */
    /* float: left; */

}

.cart3 {
    position: absolute;
    left: 0px;
    height: 400px;
    width: 260px;
    background-color: black;


}

.cart4 {
    position: absolute;
    left: 320px;
    height: 400px;
    width: 240px;
    background-color: black;



}

footer {
    position: relative;
    /* position: fixed; */
    /* bottom: 20px; */
    top: 70px;
    height: 400px;
    width: 100%;
    background-color: gray;
}

.part1 {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 320px;
}

.part2 {
    position: absolute;
    top: 30px;
    left: 320px;
    width: 320px;
}

.part3 {
    position: absolute;
    top: 30px;
    left: 670px;
    width: 320px;
}

.part4 {
    position: absolute;
    top: 30px;
    left: 960px;
    width: 320px;
}

.mobiil select{
    display: none;
    padding: 10px;
}
.head1{
    display: none;

}
.head2{
    display: none;

}
.head3{
    display: none;

}
@media (max-width:500px) {
    .bar {
        display: block;
    }

    .menu li {
        display: none;
    }

    .font li {
        display: none;
    }

    .cart1 {
        position: absolute;
        left: 0px;
        height: 400px;
        width: 260px;
        background-color: black;
    }

    .cart2 {
        position: absolute;
        top: 500px;
        left: 0px;
        height: 400px;
        width: 260px;
        background-color: black;
    }

    .cart22 {
        position: relative;
        position: absolute;
        /* display: block; */
        /* flex-direction: row; */
        top: 1000px;
        left: 20px;
        height: 400px;
        width: 560px;
        /* clear: both; */
        /* background-color: aqua; */
        /* border: 2px solid; */
        /* float: left; */

    }

    .cart3 {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 400px;
        width: 260px;
        background-color: black;


    }

    .cart4 {
        position: absolute;
        top: 500px;
        left: 0px;
        height: 400px;
        width: 240px;
        background-color: black;



    }

    footer {
        position: relative;
        /* position: fixed; */
        /* bottom: 20px; */
        top: 1600px;
        height: 400px;
        width: 100%;
        background-color: gray;
    }

    .part1 {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 320px;
        display: none;
    }

    .part2 {
        position: absolute;
        top: 180px;
        left: 20px;
        width: 320px;
        display: none;
    }

    .part3 {
        position: absolute;
        top: 330px;
        left: 20px;
        width: 320px;
        display: none;
    }

    .part4 {
        position: absolute;
        top: 250px;
        left: 20px;
        width: 320px;
    }

    
    .head1{
        position: absolute;
        top: 10px;
        background-color: gray;
        border: none;
        display: block;
        
    }
    .head2{
        position: absolute;
        top: 50px;
        background-color: gray;
        border: none;
        display: block;


    }.head3{
        position: absolute;
        top: 90px;
        background-color: gray;
        border: none;
        display: block;


    }
}

@media (min-width:500px) and (max-width:700px) {
    .font li {
        display: inline;
        margin: 55px;
    }

    .menu li {
        display: none;
    }

    .bar {
        display: none;
    }

    .cart11 {
        position: absolute;
        position: relative;
        display: block;
        /* flex-direction:column; */
        top: 20px;
        left: 20px;
        float: left;
        clear: both;
        height: 400px;
        width: 570px;
        /* border: 2px solid; */

    }

    .cart22 {
        position: relative;
        position: absolute;
        /* display: block; */
        /* flex-direction: row; */
        top: 500px;
        left: 20px;
        height: 400px;
        width: 560px;
        /* clear: both; */
        /* background-color: aqua; */
        /* border: 2px solid; */
        /* float: left; */

    }

    footer {
        position: relative;
        /* position: fixed; */
        /* bottom: 20px; */
        top: 700px;
        height: 400px;
        width: 100%;
        background-color: gray;
    }

    .part1 {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 320px;
    }

    .part2 {
        position: absolute;
        top: 30px;
        left: 190px;
        width: 320px;
    }

    .part3 {
        position: absolute;
        top: 30px;
        left: 410px;
        width: 320px;
    }

    .part4 {
        position: absolute;
        top: 190px;
        left: 20px;
        width: 320px;
    }

}