*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.media{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(14, 30px);
    grid-template-columns: 150px 150px 150px 150px;

}
.head{
    background-color: #0f1629;
    color: #fff;
    /* height: 30px; */
    /* width: 150px; */
    text-align: center;
    line-height: 30px;

}
.menu{
    background-color:#ef3d4c;
    /* height: 30px; */
    /* width: 500px; */
    color: #fff;
    grid-area: 1/ 2/ 2/ 5;
    text-align: center;
    line-height: 30px;

}
.hero{
    background-color: #4c86c6;
    /* height: 60px; */
    /* width: 650px; */
    color: #fff;
    grid-area: 2/ 1/ 8/ 5;
    text-align: center;
    line-height: 180px;

}
.main{
    background-color: #24344b;
    grid-area: 8/ 1/ 12/ 3;
    color: #fff;
    text-align: center;
    line-height: 120px;


}
.image{
    background-color: #c1e4e6;
    color: #000;
    grid-area: 8/ 4/ 10/ 5;
    text-align: center;
    line-height: 60px;
    font-weight: bold;

}
.extra{
    background-color: #4dbd97;
    color: #000;
    grid-area: 10/ 4/ 12/ 5;
    text-align: center;
    line-height: 60px;
    font-weight: bold;

}
.banner{
    grid-area: 12/ 1/ 14/ 5;
    background-color: #fed269;
    text-align: center;
    line-height: 60px;
    font-weight: bold;

}